 @mixin border {
     border: 3px solid yellow;
 }

 @mixin name {
     @include first();
 }
 @function background($color){

    @if($color!=#FFFFFF){
  
      @return #FFFFFF;
      
    }@else {
      @return black;
    }
  }

  @function first(){

  @return nth($list,1);

}


@function last(){

  @return nth($list,length($list));

}


$list:"HTML5","CSS3","JAVA","REACT";

.text{
  color: background(#000);
  font-size: 20px;
 
}


.text,textarea, h1{
    @extend .text;
}

.btn {
  @include border();
  
}


body{
    background-color: background(#000);
}



.langage1{
    content: first();
}

.langage2{
    content: last();
}

.btn-color{
    color: background(#FFFFFF);
}